* {
  font-family: "Fredoka", system-ui, -apple-system, "Segoe UI", Roboto,
    "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #192a32;
}

.set-up-form {
  display: flex;
  justify-content: space-between;
  width: 380px;
  margin: 40px auto;
}

.set-up-form.start-game {
  opacity: 0.6;
}

.set-up-form .input-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.set-up-form input {
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 1px;
  color: #283e48;
}

.set-up-form input::placeholder {
  color: #283e48;
  font-weight: 600;
  font-size: 1rem;
}

.set-up-form input[id="p1-name"] {
  background-color: #31c4be;
  box-shadow: 0 5px #138a89;
}

.set-up-form input[id="p2-name"] {
  background-color: #f2b237;
  box-shadow: 0 5px #cc8b15;
}

.set-up-form input:focus {
  outline: none;
  background-color: #a8bec9;
  box-shadow: 0 5px #6c8995;
}

.set-up-form .start-game-button {
  border: none;
  border-radius: 15px;
  padding: 20px 25px;
  background-color: #a8bec9;
  box-shadow: 0 5px #6c8995;
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #283e48;
  cursor: pointer;
  transition: all 0.15s;
}

.set-up-form .start-game-button:hover {
  opacity: 0.7;
}

.set-up-form .start-game-button:active {
  transform: translateY(2px);
}

.status-button-wrapper {
  width: 590px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.status-button-wrapper .status-display {
  height: 40px;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #a8bec9;
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #1f3540;
  border-radius: 15px;
  box-shadow: 0 8px #102129;
}

.status-button-wrapper .status-display.end-game {
  color: #f2b237;
}

.status-button-wrapper .restart-button {
  margin-left: 10px;
}

.status-button-wrapper .restart-button,
.status-button-wrapper .next-round-button {
  border: none;
  border-radius: 15px;
  padding: 10px;
  background-color: #a8bec9;
  box-shadow: 0 5px #6c8995;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 1px;
  color: #283e48;
  cursor: pointer;
  transition: all 0.15s;
}

.status-button-wrapper .restart-button:hover,
.status-button-wrapper .next-round-button:hover {
  opacity: 0.7;
}

.game-board {
  display: grid;
  width: 590px;
  margin: 40px auto;
  grid-template-columns: repeat(3, 180px);
  grid-auto-rows: 180px;
  gap: 25px;
}

.game-board .game-cell {
  font-size: 6rem;
  font-weight: 700;
  background-color: #1f3540;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px #102129;
  cursor: pointer;
}

.game-board .X-marker {
  color: #31c4be;
}

.game-board .O-marker {
  color: #f2b237;
}
